-content_for :title do
  About Us - 
- content_for :description do
  Meet the Team behind RoleplayingInEquestria.com
.pure-u-1
  .box
    %h1 About Roleplaying in Equestria
  %hr
.pure-g-r
  .pure-u-1
    .box
      %h2 The Idea
      %p
        We all 
        %em love
        roleplaying. Whether it be online, around a table or by Instant Messaging on a phone.
        The fun to impersonate a character in its unique world is limitless.
        But sometimes we lack a few things. Be it 
        %a.green{href:"/guides"} specific rules
        to spice things up, or 
        %a.purple{href:"/websites"} buddies to play with
        there is always something that keeps us from using our full potential.
        This website is meant to minimize this problem by providing a 
        %a.green{href:"/getting_started"} full introduction into Roleplaying
        as well as starting points for 
        %a.purple{href:"/campaigns"} your own world.

  .pure-u-1
    .box
      %h2 The Team
      .pure-u-1-2
        %p
          This website is currently written and maintained by 
          %a{href:"https://plus.google.com/u/0/100846780726450080694"}Marcel Müller
      .pure-u-1-3
        %figure.centered
          %img{src:"/img/neikos.png", style:"max-height:200px;"}
          %figcaption.quiet Neikos
  .pure-u-1
    .box
      %h2 Why are there Ads?
      %p
        I believe that everyone has a right to a compensation for their work. I try to make these ads as relevant as possible for you by promoting sister projects or artists willing to take commissions. So if you are actively blocking the ads here, know that you might be missing out on something new that you might enjoy.