- content_for :title do
  Advantages - 
- content_for :description do
  Learn how about advantages and how make your character stand out.
.pure-u-1
  .box
    %h1 Advantages/Skills
    %small.quiet
      If you are unsure what this means, please check out this guide:
      %a.quiet{href:"/rie_system"} Roleplaying in Equestria Guide
  %hr
!= haml :ad_big, :layout => false
.pure-g-r
  .pure-u-1
    .box
      %p
        Advantages are features your character can have, they mostly add things to the list of what your character is able to do.
    %hr.small
  .pure-u-1
    .box
      .advantage.pure-g-r{id:"unicorn"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/unicorn.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Unicorn
            .pure-u-1.stats>
              %p
                Can perform Magic. When new to spell casting, random results occur more often.
          .pure-u-2-3.description>
            %p
              Being an Unicorn means wielding a horn and being able to perform magic with it.
              Basic Magic consists of levitation of inanimate objects and similar.
              You can choose to have a more advanced knowledge of Magic but keep it reasonable.
              For more details check out&nbsp;
              %a.purple.magic.unstyled{href:"/magic"}> Magic
              \.
      %hr.small
      .advantage.pure-g-r{id:"earth_pony"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/earth_pony.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Earth Pony
            .pure-u-1.stats>
              %p
                You can grow plants in the ground. You are also often a lot stronger and more agile with your hooves than the other races.
          .pure-u-2-3.description>
            %p
              When playing an Earth Ponies you are part of those that provide food for everyone else. They can do incredible feats with their bodies due to their strength and agility.
      %hr.small
      .advantage.pure-g-r{id:"pegasus"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/pegasus.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Pegasus
            .pure-u-1.stats>
              %p
                You are able to use your wings to fly, and innate magic allows you to walk on clouds and use them to form shapes.
          .pure-u-2-3.description>
            %p
              Pegasi are the weather ponies of Equestria. They decide whether it rains or if it is sunny. They are also the keeper of the seasons, deciding when starts and ends each season.
      %hr.small
      .advantage.pure-g-r{id:"animal_lover"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/animal_lover.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Animal Empathy
            .pure-u-1.stats>
              %p
                You can communicate with Animals, while you don't understand what they are saying you do feel their shared thoughts.
          .pure-u-2-3.description>
            %p
              Some ponies are born with a heightened sense of other creatures' well being. Some use this gift to take care of animals. It isn't a necessity. 
              %span.quiet (It is useful though.)
      %hr.small
      .advantage.pure-g-r{id:"fast_runner"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/fast_runner.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Fast Runner
            .pure-u-1.stats>
              %p
                Your running speed is well above average, beating easily other not so well trained ponies. Careful though, stopping isn't always that easy.
          .pure-u-2-3.description>
            %p
              Years of hard training and a bit of luck make it so that you are quite a good runner. You probably won a few competition thanks to your gift.
      %hr.small
      .advantage.pure-g-r{id:"fast_flyer"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/fast_flyer.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Fast Flyer
            .pure-u-1.stats>
              %p
                When flying you just swish past others, leaving behind a trail of color. Catching you won't be easy.
          .pure-u-2-3.description>
            %p
              Is it a plane? Is it a bird? No, it's just you! Your flying certainly leaves a good impression with most ponies. Your maneuvers are fast and precise. Now you only have to think of brakes.
      %hr.small
      .advantage.pure-g-r{id:"Potion Maker"}
        .pure-u-1-4.centered>
          %img.advantage-image{src:"/img/advantages/potion_maker.png"}
        .pure-u-3-4.pure-g-r>
          .pure-u-1-3>
            .pure-u-1.name>
              Alchemy
            .pure-u-1.stats>
              %p
                Brewing potions is easy for you, you do need the appropriate equipment. And some potions are awfully long and tedious to make&#133;
          .pure-u-2-3.description>
            %p
              A bit more of this herb, some salt and now stir slowly&#133; That's the beginning of a soup. You are able to go much further and harness the magical and natural abilities of plants and other ingredients to make powerful potions and salves. What do they do? Well, there is only one way to find out.