- content_for :title do
  Being a Player - 
- content_for :description do
  Learn how to be a player in a traditional Roleplaying setting.
.pure-u-1
  .box
    %h1 Being a player
  %hr
!= haml :ad_big, :layout => false
.pure-g-r
  .pure-u-1
    .box
      %h2
        Joining a Roleplay
      %p
        Once you have chosen a place to Roleplay on you need to apply to one. This is to ensure the quality and coherence of a Roleplay. Most of the time there is a specific way to do so.
        In some Roleplay forums you either have one big topic to post your character in for review/approval or just to explain who he is,
        or you have to post in so called 
        %abbr{title:"Out of Character"} 'OOC Threads'
        to be given the green light by their respective&nbsp;
        %abbr{title:""}>GM
        s.
      %p
        Either way the result is the same: you are either allowed to partake in a Roleplay or you are refused. Reasons may vary, but know that it isn't personal most of the time. Perhaps your character didn't fit the setting? Or it wasn't complete enough. You could try talking to the GM via a Personal Messaging service to discuss the decision if he hasn't explained why.

      %h2
        Rules to follow as a Player
      %p
        Awesome! You got allowed into a Roleplay and are eager to post and interact with other Roleplayers/the World. 
        Know though that there are a few rules that have to be respected for a good and healthy Roleplaying experience.

      %h3
        Be Polite in 
        %abbr{title:"Out of Character"}OOC
      %p
        To be able to enjoy living in an imagined world you need to also be well in real interactions. This means being at the very least polite and respectful of others. 
        If someone had a bad roll or made a bad decision that affected you you should just roll with it and forgive them. 
        The same thing counts for your character being beaten in a Roleplay. 
        We're all here to have fun and if you aren't having fun, you should voice your opinion just make sure it is in a polite manner.
        I suggest reading 
        %a.quiet{href:"http://www.paulgraham.com/randomness.html", rel:"nofollow"} Randomness
        for this. It's a great principle to live and act by.
      %h3
        Do not controlle other Player's Characters
      %p
        This is an error often done by new roleplayers. Sometimes an obvious action is carried out by one of your characters and you make the target react how you deem it logical to be.
        Let's look at an example:
        %blockquote
          Big Apple runs towards Frail knocking her over. Frail was now on her back, helpless as the attack surprised her.
        This is quite logical, after all Big Apple here is a huge earth pony, so a full on charge would knock pretty much anyone out.
        The problem is that Frail is not Big Apple's player's character. 
        This might seem restraining but it is needed so that there is not only a single character who can order others around.
      %p
        A way to make this work is by changing the way you express yourself:
        %blockquote
          Big Apple charged towards Frail, he hoped that he could knock her down so that she would be rendered helpless.
        The difference is quite obviously the intention. You clearly tell others what you plan to do and what you want the consequences to be. It's up to Frail's player to decide what happens with her. Perhaps she can evade the charge or get knocked back but won't fall down. The possibilties are endless and trying to force your way is not very fair for everyone else.
        .red
          This is considered to be quite rude by other roleplayers. Do not ever force your decisions on a character that is not yours as a player.
        %small.quiet
          Exceptions do exist, like Mind Control spells/potions. Another player can also allow you to control his character but all of this happens in a controlled environment.
        %h3
          Do not use information from
          %abbr{title:"Out of Character"} OOC
          in Character
        %p
          This rule simply means that what you know as a player doesn't necessarily reflect what your character knows. So if a player told you in some way that there are traps where your character is heading you are not allowed to use that information to make your character act more cautiously than usual.
          This rule simply keeps the whole thing more fun and also more challenging as you have to be aware of what your character knows or not.
          If in doubt you can always ask your Game Master or if there is none, the other players and reach a consensus that way.
        %h3
          Do have fun!
        %p
          If for you things get tedious or not fun be sure to tell others about it. Perhaps they feel the same way and a restart might be in order?
          Perhaps you just need a break which is perfectly fine as well. 
          You decide what to do with your time. Just be sure to inform everyone of your decision so that possible replacements can be found for a longer leave.
        %h3
          Ask a lot of questions
        %p
          Does something strike you odd in a roleplay? Then you should definitely question it. After all a floating carpet is not something you see everyday and it can lead you and the other players to new and fun destinations.