- content_for :title do
  Being a Game Master - 
- content_for :description do
  Learn how to be a gamemaster and how to make sure everyone is having fun.
.pure-u-1
  .box
    %h1 Being a Gamemaster
  %hr
!= haml :ad_big, :layout => false
.pure-g-r
  .pure-u-1
    .box
      %h3
        Foreword
      %p
        This page is meant as a guideline
        %small (Like everything on this website)
        and thus might not be adapted for every situation out there. We simply try to cover as many cases as possible.

      %h2 
        The Challenges
      %p
        As a gamemaster there are several hurdles you will have to overcome to ensure a balanced and fun play.

      %h3 
        Intrusive characters
      %p
        This might be the most occuring and hardest part to deal with in a way that both parties are satisfied.
        Imagine a player who wants to enter your roleplay with what could be considered a 
        %abbr{title:"An overpowered"}Mary Sue
        character. The character might be powerful on purpose or just in your vision of the world. For example magic might be completely fine in Equestria, but if the Roleplay takes place on Earth magic would be considered as inexistant most of the time. Unless you're playing in a Fantasy settings, but again perhaps the character is even then too powerful. You should be
        %strong firm
        on players who try to push forward a vision that does not fit what you want the world to be.

      %h3 
        Incoherence
      %p
        If you make an assertion be sure that it actually is true. As a Gamemaster, most of the time, the burden of coherence lies with you. Like a big puzzle where you are making the pieces, and thus you are the sole person who has to ensure that everything fits in the end. 
        %abbr{title:"Retroactive continuity, is when you change previous stated history"} Retconning
        is something to avoid. But if it is absolutely necessary you have to tell everyone concerned. This does not mean that you are not allowed to lie to your Players, but more on that at a later point.

      %h3
        Power Play
      %p
        It sometimes happens without anybody at fault. Player A states something, Player B picks it up and suddenly you got yourself in a situation that could conflict with your vision of the world.
        This is obviously a bad moment, after all you are the one who shapes the world, if suddenly everyone assumes something that you have not envisioned incoherence might occur.
        Let's look at this example story:
        %blockquote
          %p 
            %em Gamemaster:
            %br
            It was a lonely evening for Alice, her girlfriend was out of town and none of her friends had the time to come and spend some time with her.
            Suddenly the Phone rang, what do you do? 
            %br
            %br
            %em Player:
            %br
            I pick up the Phone.
            %br
            %br
            %em Gamemaster:
            %br
            As you picked up you didn't hear anybody talk and instead there was just beeping. Must have already hung up. 
            As you place back the phone you hear a loud cracking and your apartment door flew open.
            %br
            %br
            %em Player:
            I cry in terror and take the Pistol next to me. Aiming it towards the entry of the living room, ready to shoot if need be.
        This scenario might be acceptable depending on the setting of the Roleplay, for example Alice could live in America.
        But should you have decided that the Roleplay was in Paris you would have to intervene here. Weapons are hard to come by legally in Europe, so this would contradict the setting quite a bit. It's an example among many and it's up to you to decide what is acceptable or not. Just be sure to stick to decisions you have made to avoid frustrations from the players.

        %h2 
          Interacting with the Player
        %p
          Once you have a game going on, things will happen. You will do your best to guide the players to where they have to go to. 
          But a straightforward path isn't very entertaining, is it? 
          This means that you have to spice things up through various means that are mostly only accessible to the Game Master. 
          It can get quite entertaining to watch your Players struggle, but if they die or quit at the first or second puzzle chances are you did something wrong. The key is to strike a balance between difficulty and feasibility.

        %h3 
          Enemies
        %p
          By far the most common way to hinder a party of player's advance. You just put some baddies into their way, whether announced before hand or not, they will have to stop and take care of this issue.
          Often fighting is involved, but other ways are possible and as always, the limit is your and your players' imagination.
