-content_for :title do
  Getting Started - Guide -  
.pure-u-1
  .box
    %h1 How to get Started in Roleplaying
  %hr
!= haml :ad_big, layout: false
.pure-g-r
  .pure-u-1
    .box
      %p
        This guide is meant to introduce new players into the Roleplay scene be it offline or online. 
        If you aren't new but still want to learn about Roleplaying be sure to check out
        %a.green{href:"/guides"} the other guides
        to discover other exciting ways to enjoy roleplaying.

      %p 
        The guide here serves as a starting point for Roleplaying but shouldn't be seen as the only way
        to go about it. You should consider it as a starting point and let your imagination 
        %em flow
        rather than being restrained to what is presented on this website.

      %hr.small
      %h3 Being part of a Roleplay
      %p 
        I believe this part to be the most important one, as it defines what Roleplaying truly is about as well providing
        us a guideline to what is acceptable and what is not.
      %p
        Let's begin by talking about Roleplaying in a general sense:
      %p
        Roleplaying is all about having a setting and a character to play as.
        While being 
        %em In Character
        you are meant to act out your character: responding to events around you and answering for him.
        Sometimes you also get control of the world around, imagining things on the go.
      %p
        The 
        %em Game Master
        is the person who keeps track of the events happening in the world and is able to shape the world to his bidding.
        Often the Game Master doesn't play a Character and rather acts out the story through various Non Player Characters.
        He makes them move, answer and act the way he chooses to. It is often through these 
        %abbr{title:"Non Player Characters"} NPCs
        that the 
        %abbr{title:"Game Master"} GM
        gives orders to the players. Sometimes his messages can also go through some divinity or both, there are no rules set in stone.
      %hr.small
      %h2 The Game
      %p 
        The game in itself is similar to a boardgame. You have players, turns and roles. 
        Your turns are the moments where you decide how your character reacts and what he sees, feels, and speaks.
        Often there is some kind of order in these turns so as to give everyone an equal chance at expressing their characters' decisions and feelings. The 
        %abbr{title:"Game Master"} GM
        is free to change that order at any time he sees fit, most often to assure the game is going how he had it planned out.
      %p
        The story is chosen by the 
        %abbr{title:"Game Master"} GM
        and often the setting has been decided beforehand so as that everyone can prepare and stay coherent. You wouldn't want a pony talking about modern physics when everyone is meant to be in the middle ages.
        %span.quiet (Exceptions do exist)
        Of course, this setting can evolve; like everything in the game. 
      %h2 TL;DR
      %p 
        Roleplaying is way to express your imagination, explore possible sides of yourself, and generally just to have fun.