-content_for :title do
  All Guides - 
- content_for :description do
  All the guides available on 
  %a.quiet{href:"http://roleplayinginequestria.com"}RoleplayingInEquestria.com
.pure-u-1
  .box
    %h1 List of Guides
  %hr
.pure-g-r
  .pure-u-1
    .box
      %h2 Roleplaying Guides
      %p Here is a list of all the roleplaying guides found here

      #guide_list
        .pure-g-r>
          .pure-u-1-4.centered>
            %a{href:"http://ocarina0ftimelord.deviantart.com/", target:"_blank", rel:"nofollow"}
              %img{src:"/img/twilight_flowing_mane.png", title:"Image by Ocarina0fTimelord"}              
          .pure-u-1-4>
            %a.unstyled{href:"/getting_started"}General Introduction to Roleplaying&nbsp;
          .pure-u-1-2>
            %p
              \- Here you get started in the world of Roleplaying
        .pure-g-r>
          .pure-u-1-4>
            %a{href:"http://martinnus1.deviantart.com/", target:"_blank", rel:"nofollow"}
              %img{src:"/img/discord_puppets.png", title:"Image by Martinnus1"}      
          .pure-u-1-4>
            %a.unstyled{href:"/being_gamemaster"}Playing as a Gamemaster&nbsp;
          .pure-u-1-2>
            %p
              \- A complete guide on how to play as a Gamemaster
        .pure-g-r>
          .pure-u-1-4>
            %a{href:"http://infinitoa.deviantart.com/", target:"_blank", rel:"nofollow"}
              %img{src:"/img/fluttershy_hoodie.png", title:"Image by Infinitoa"}      
          .pure-u-1-4>
            %a.unstyled{href:"/being_player"}Playing as a Character&nbsp;
          .pure-u-1-2>
            %p
              \- A rich introduction into Roleplaying on the player side
