.pure-g-r.content
  .pure-u#nav.pure-menu.pure-menu-open
    %a.pure-menu-heading{href:"/"} RP In Equestria
    %ul
      %li
        %a{href:"/"} Home
      %li
        %a{href:"/"} Roleplay Websites
      %li.seperator
      %li
        %a{href:"/advantages"} Advantages
      %li
        %a{href:"/advantages"} Skills
      %li
        %a{href:"/advantages"} Spells
      %li
        %a{href:"/advantages"} Quests
      %li
        %a{href:"/advantages"} Campaigns
      %li.seperator
  .pure-u#content
    .pure-u-1
      .hero.centered
        %h1.pure-u-1 Roleplaying in Equestria
        %p.pure-u-3-4
          Here I will explain what this website does in two-three lines
    .pure-g-r
      .pure-u-1
        .box
          %h3 What this website offers
          %ul
            %li Roleplaying Guides
            %li An Extension to the GURPS System
            %li Links to various Pony Roleplay Websites
            %li General Rules for Character Creation
            %li Rules for Quest Creation
            %li A lot of examples