- content_for :title do
  Other Roleplay Websites - 
- content_for :description do
  Websites that offer My Little Pony themed Roleplaying sections.
.pure-u-1
  .box
    %h1 Websites to Roleplay on
  %hr
!= haml :ad_big, :layout => false
.pure-g-r
  .pure-u-1
    .box
      %p
        This list of websites has no particular order and none are in some way affiliated with 
        %a.green{href:"/"} RoleplayingInEquestria.com 
        unless stated otherwise.
      %ul
        %li
          %p
            %a{href:"https://www.worldofequestria.com/"} World of Equestria - Community & Roleplay
          %p 
            A forum with a friendly community that also has an active Roleplay section.
        %li
          %p
            %a{href:"http://www.canterlot.com/", rel:"nofollow"} Canterlot - Community & Roleplay
          %p 
            A forum type Roleplay Website
        %li
          %p
            %a{href:"http://mlpforums.com", rel:"nofollow"} MLPForums
          %p
            Calling itself the largest Brony Forum in the world it also offers a Roleplay section
        %li
          %p
            %a{href:"http://ponytopia.net", rel:"nofollow"} Ponytopia
          %p
            A Chat centered Roleplay website in the Slice of Life manner
        %li
          %p
            %a{href:"http://fillydelphia.com", rel:"nofollow"} Fillydelphia
          %p
            A Chat and Forum Roleplay centered website, the chat is focused on Slice of Life
